@using Blazored.LocalStorage
@using CBS.Client.Auth
@using CBS.Client.Pages.Components
@using CBS.Client.Services
@using Icon = Microsoft.FluentUI.AspNetCore.Components.Icons
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.FluentUI.AspNetCore.Components

@inject NavigationManager Navigation
@inject IdentityClientService IdentityService
@inject CustomAuthStateProvider AuthenticationProvider
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
         @if(IsLogedIn){
      <FluentButton OnClick="OnLogout">Logout</FluentButton>  
         }else {
     <FluentButton OnClick="OnLoginOpen">Login</FluentButton>
     <FluentButton OnClick="OnRegisterOpen">Register</FluentButton>
         }
        </div>

        <article class="content px-4" >
            @Body
        </article>
        <FluentToastProvider MaxToastCount="3"  />

        <FluentDialogProvider />
    </main>
</div>
@code {
    private bool RegisterHidden = true;
    private bool LoginHidden = true;
    public FluentDialog? RegisterDialog;
    public FluentDialog?  LoginDialog;
    private bool IsLogedIn { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationProvider.GetAuthenticationStateAsync();

        if (authState != null && authState.User!=null)
        {
            IsLogedIn = authState.User.Identity.IsAuthenticated;
        }

         await base.OnInitializedAsync();
    }
    void OnRegisterOpen()
    {
        RegisterHidden = false;
    }
    void OnLoginOpen()
    {
        LoginHidden = false;
    }
    void CloseLoginDialog()
    {
        LoginHidden = true;
        Navigation.NavigateTo("profile",true);
    }   
    async Task OnLogout()
    {
       await IdentityService.Logout();
     
        LoginDialog?.Show(); 
    }
}
<FluentDialog @ref="RegisterDialog" @bind-Hidden="@RegisterHidden" aria-label="Register a new account..." Modal=true>
    <FluentDialogHeader Visible="true" ShowDismiss="true" />
    <Register   />
</FluentDialog>
<FluentDialog @ref="LoginDialog" @bind-Hidden="@LoginHidden" aria-label="Login to your account..." Modal=true>
    <FluentDialogHeader Visible="true" ShowDismiss="true" />
    <Login OnLoginSuccess="CloseLoginDialog" />
</FluentDialog>
 
