
@using System.ComponentModel.DataAnnotations
@using  Icons  =  Microsoft.FluentUI.AspNetCore.Components.Icons
@using Microsoft.FluentUI.AspNetCore.Components
@inherits Microsoft.AspNetCore.Components.ComponentBase
@inject IDialogService DialogService


<h3>BookingWizard</h3>

<FluentWizard StepperPosition="StepperPosition.Left"
              StepSequence="@WizardStepSequence.Visited"
              DisplayStepNumber="@(WizardStepStatus.Current | WizardStepStatus.Next)"
              Border="WizardBorder.Outside"
              StepTitleHiddenWhen="@GridItemHidden.XsAndDown"
              Height="auto"
              Style="min-height: 300px;">
    <Steps>
        <FluentWizardStep Label="Choose an open Timeslots">
   
              <Timeslot/>
        
        </FluentWizardStep>
            <Appointments/>
        <FluentWizardStep Label="Finish">
          <FluentButton  OnClick="GoToBooking" >Done</FluentButton>
        </FluentWizardStep>
    </Steps>
</FluentWizard>

<FluentOverlay @bind-Visible=@_overlayIsVisible
               Opacity="0.4"
               Alignment="Align.Center"
               Justification="@JustifyContent.Center">
    <FluentProgressRing />
</FluentOverlay>